@import url("https://fonts.googleapis.com/css2?family=Jersey+10&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	cursor: url("../images/cursor.png"), auto !important;
}

body {
	font-family: "Jersey 10", sans-serif;
	font-weight: 400;
	font-style: normal;
	cursor: url("../images/cursor.png"), auto !important;
}

header {
	height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 85px;
	background: #100e24;
	color: #fff1a8;
}

header a {
	text-decoration: none;
	color: #fff1a8;
}

header a h3 {
	font-size: 30px;
	font-style: normal;
}

header h3:hover {
	color: #ffe100;
	cursor: url("../images/click_cursor.png"), pointer !important;
}

header .header_menu {
	display: flex;
	font-size: 30px;
	font-style: normal;
}

header .header_menu a {
	text-decoration: none;
	color: #fff1a8;
	margin: 0 20px;
}

header .header_menu a:hover {
	color: #ffe100;
	cursor: url("../images/click_cursor.png"), pointer !important;
}

main {
	width: 100%;
	min-height: calc(100vh - 100px);
	background-image: url("../images/background.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 30px;
}

main .icon_game_jmj {
	width: 100px;
	margin: 0 auto -30px;
	animation: float 2s ease-in-out infinite;
}

@keyframes float {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-10px);
	}
	100% {
		transform: translateY(0);
	}
}

main h1 {
	color: var(--point1, #ffe100);
	-webkit-text-stroke-width: 5px;
	-webkit-text-stroke-color: #000;
	font-size: 50px;
	font-weight: 50;
	paint-order: stroke fill;
	margin-bottom: -20px;
}

main .login_form_jmj {
	width: 40%;
	height: 290px;
	background: #0f1a33;
	border-radius: 20px;
	text-align: center;
	padding: 20px;
	margin: 0 auto;
	color: #fff;
}

main .login_form_jmj .login_jmj {
	width: 100%;
	height: 220px;
	background: #344e87;
	text-align: center;
	margin: 0 auto;
	padding: 20px 50px;
	border-radius: 15px;
	position: relative;
	font-size: 25px;
}

main .login_form_jmj .login_jmj p {
    text-align: start;
	margin: 0 30px; 
	display: flex; 
	align-items: center; 
    gap: 10px; 
}

main .login_form_jmj .login_jmj p label {
    min-width: 100px;
}

main .login_form_jmj .login_jmj form button {
	margin: 10px auto;
	width: 30%;
	height: 30px;
	font-size: 25px;
	font-family: "Jersey 10", sans-serif;
	font-weight: 400;
	font-style: normal;
	border-radius: 10px;
	background: #fff;
	border: 1px solid #000;
}

main .login_form_jmj .login_jmj form button:hover{
    cursor: url("../images/click_cursor.png"), pointer !important;
    background: #000;
    color: #fff;
    border-color: #fff;    
}

main .login_form_jmj .login_jmj a {
    width: 100%;
    border: 2px solid #fff;
    color: #fff;
    align-items: center;
}

main .login_form_jmj .login_jmj a:hover {
    background: #fff;
    border-color: #000;
    color: #000;
    cursor: url("../images/click_cursor.png"), pointer !important;
}

main .login_form_jmj .login_jmj a img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-bottom: 3px;
    vertical-align: middle;
}

main .login_form_jmj a {
    display: inline-block;
    text-decoration: none;
	width: 30%;
	height: 30px;
	font-size: 25px;
	font-family: "Jersey 10", sans-serif;
	font-weight: 400;
	font-style: normal;
	border-radius: 10px;
	border: 2px solid #00FE0D;
    color: #00FE0D;
    margin-top: 10px;
}

main .login_form_jmj a:hover {
    color: #fff;
    background: #00FE0D;
    border-color: #fff;
    cursor: url("../images/click_cursor.png"), pointer !important;
}

footer {
	height: 50px;
	background: #100e24;
}
