{% extends "base.html" %}
{% load static %}

{% block title %}Game History{% endblock %}

{% block header %}
<link rel="stylesheet" href="{% static 'game/css/list_game.css' %}">
{% endblock %}

{% block content %}
<header>
    <h3>PIROGRAMMER CARD GAME</h3>
    <div class="header_menu">
        <a href="{% url 'game:create_game' %}">Game</a>
        <a href="{% url 'game:ranking' %}">Ranking</a>
        <a href="/accounts/logout/">Logout</a>
    </div>
</header>
<footer></footer>
<div class="list_container_mw">
    
    <div class="list_header_area_mw">
        <div class="user_info_mw">
            <h3>History List</h3> <p>player : <span class="highlight_mw">{{ request.user.username }}</span></p>
        </div>
        
        <div class="filter_buttons_mw">
            <a href="?filter=all" class="filter_btn_mw {% if filter == 'all' %}active_mw{% endif %}">ALL</a>
            <a href="?filter=ongoing" class="filter_btn_mw {% if filter == 'ongoing' %}active_mw{% endif %}">IN PLAY</a>
            <a href="?filter=finished" class="filter_btn_mw {% if filter == 'finished' %}active_mw{% endif %}">FINISHED</a>
        </div>
    </div>

    <hr class="header_line_mw">

    <ul class="game_list_mw">
    {% for game in page_obj %}
    <li class="game_item_mw">
        <div class="game_info_text_mw">
            {{ game.id }} - {{ game.attacker.username }} vs {{ game.defender.username }}
        </div>

        <div class="game_status_badge_mw">
            {% if game.can_counter %}
                <a href="{% url 'game:counter_attack' game.id %}" class="badge_common_mw badge_counter_mw">
                    Counter Attack
                </a>

            {% elif game.can_cancel %}
                <span class="playing_text_mw">playing...</span>
                <a href="{% url 'game:game_cancel' game.id %}" class="badge_common_mw badge_cancel_mw">
                    CANCEL
                </a>

            {% elif game.status == "FINISHED" %}
                {% if game.user_result == "win" %}
                    <h2 class="result_title_jmj">WIN!</h2>
                
                {% elif game.user_result == "lose" %}
                    <h2 class="result_title_jmj">LOSE</h2>
                {% endif %}
            
            {% else %}
                <span class="status_text_mw">{{ game.display_status }}</span>
            {% endif %}
        </div>

        <a href="{% url 'game:game_detail' game.id %}" class="btn_game_info_mw">Game Info</a>
    </li>
    {% empty %}
    <li class="no_game_mw">No Game History.</li>
    {% endfor %}
</ul>

    <div class="pagination_mw">
        {% if page_obj.has_previous %}
            <a href="?filter={{ filter }}&page={{ page_obj.previous_page_number }}">Back</a>
        {% endif %}

        <span>{{ page_obj.number }} / {{ page_obj.paginator.num_pages }}</span>

        {% if page_obj.has_next %}
            <a href="?filter={{ filter }}&page={{ page_obj.next_page_number }}">Next</a>
        {% endif %}
    </div>
</div>
{% endblock %}